[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
reportlab = "*"
gunicorn = "*"
whitenoise = "*"
psycopg = {extras = ["binary"], version = "*"}
djangorestframework = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
